- if (processes.length)
  h1 Forever
  table.table
    thead
      tr 
        th Command
        th PID

    each process, i in processes
      tr
        td: a(href="/processes/#{i}")= process.name
        td= process.getPid()

- if (hasService)
  h1 Services
  table.table
    thead
      tr
        td Service
        td Actions
    each service, name in services
      tr
        td: a(href="/services/#{name}")= name
        td
          each action, i in service.actions
            a(href="/services/#{name}/actions/#{i}")= action.id
            br
