extend layout
block content
  h5
    a(href="/") services 
    = ' > '
    a(href="/services/#{params.service}")= params.service 
    = ' > ' + params.sensor
  #graph
  style
   #graph div { height: 300px }
  :mochi
    $(#{ 
      var href = window.location + '.json'; 
      function buildChart(cb) {
        $.get(href, #(data, err) { 

          var $div = $('<div></div>');
          $('#graph').html($div);

          $div.chart({ 
            template: 'line_basic',
            values: data,
            legend: {
              fail: "Failures",
              pass: "Passes"
            }
          });
          if (cb) cb();
        });
      }

      function run(timeout) {
        setTimeout(#{ buildChart(#{ run(2000) }) }, timeout);
      }

      run(0);
    });
