doctype 5
html
  head
    title Upbeat
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='icon', href='/images/favicon.ico')

    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/raphael-1.5.2.js')
    script(src='/javascripts/elycharts.js')
    script(src='/javascripts/chart-styles.js')
    script(src='/javascripts/charts.js')
    script(src='/javascripts/jquery.sparkline.min.js')
  body(class=query.plain ? 'plain' : '')
    unless query.plain
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href="/", title="upbeat") 
              img(src="/images/upbeat_small.png")
            .nav-collapse.collapse
              .pull-right.nav-right 
                small upbeat has been up for: 
                small.text-info= process.uptime() + " secs";
              ul.nav
                li: a(href="/services") Services
                li: a(href="/stats") Stats
                li: a(href="#")= "Uptime: " + htime.humanize(process.uptime()*1000);
     
    .container-fluid
      unless query.plain
        block breadcrumbs
          include _breadcrumbs
      block content
