extend ../layout
block content
  include ../_time-nav
  #chart.chart(data-url="/stats/#{params.stats}.json?time=#{query.time}", data-type="upbeat", style="height: 300px")
  = suffixes[query.time];

  :mochi
    $(#{ startChart('#chart') });
