html
  head
    link(rel="stylesheet", href="/bootstrap.css" )
    link(rel="stylesheet", href="/jqplot.css" )
    script(type='text/javascript', src='/jquery.js')
    script(type='text/javascript', src='/jqplot.js')

  body( style="margin-top: 50px" )
    div.topbar
      div.topbar-inner
        div.container
          a.brand Upbeat
    div( class="container" )
     !{body} 
