html
  head
    link(rel="stylesheet", href="/bootstrap.css" )

  body( style="margin-top: 50px" )
    div.topbar
      div.topbar-inner
        div.container
          a.brand Upbeat
    div( class="container" )
     !{body} 
